.HomeFirstBlock__Wrapper {
    background-color: #F2F4F6;
    padding: 32px 10% 32px 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomeFirstBlock__Image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 50%;
    height: 50%;
}

.HomeFirstBlock__Container {
    display: flex;
    align-items: center;
    margin: 32px 0 32px 0;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.HomeFirstBlock__Title {
    font-size: 64px;
    line-height: 68px;
    font-weight: 800;
    color: #333;
    text-align: center;
    margin-bottom: 24px;
}

.HomeFirstBlock__Desc {
    color: #888;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.HomeFirstBlock__ButtonContainer {
    position: relative;
}

.HomeFirstBlock__IndicationIcon {
    font-weight: 300;
    position: absolute;
    left: -68px;
    top: -12px;
    transform: rotate(136deg) scaleX(-1);
    color: #888;
    font-size: 50px;
}

.HomeFirstBlock__EmailInput {
    padding: 5px 190px 5px 15px;
    height: 46px;
    font-size: 16px;
    line-height: 34px;
    width: 99%;
    color: rgba(0,0,0,.75);
    border-radius: 6px;
    font-weight: 400;
    border: 2px solid #ddd;
    background-color: #fff;
    outline: 0;
}

.HomeFirstBlock__ButtonInput {
    display: flex;
}

.HomeFirstBlock__Button {
    position: absolute;
    height: 46px;
    width: 32%;
    right: 0;
    text-align: center;
}