.HomeFirstBlock__Outer {
    background-color: #F2F4F6;
    display: flex;
    justify-content: center;

}

.HomeFirstBlock__Wrapper {
    padding: 32px 0 32px 0;
    max-width: 1170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomeFirstBlock__Image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
}

.HomeFirstBlock__Container {
    display: flex;
    align-items: center;
    margin: 32px 0 32px 0;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.HomeFirstBlock__Title {
    font-size: 64px;
    line-height: 68px;
    font-weight: 800;
    color: #333;
    text-align: center;
    margin-bottom: 24px;
}

.HomeFirstBlock__Desc {
    color: #888;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.HomeFirstBlock__ButtonContainer {
    position: relative;
}

.HomeFirstBlock__IndicationIcon {
    font-weight: 300;
    position: absolute;
    left: -68px;
    top: -12px;
    transform: rotate(136deg) scaleX(-1);
    color: #888;
    font-size: 50px;
}

.HomeFirstBlock__EmailInput {
    padding: 4px 140px 4px 12px;
    height: 46px;
    font-size: 16px;
    line-height: 34px;
    width: 100%;
    color: #333;
    border-radius: 6px;
    font-weight: 400;
    border: 2px solid #ddd;
    background-color: #fff;
    outline: 0;
}

.HomeFirstBlock__EmailInput:focus {
    border: 2px solid #0f81f46b;
}

::placeholder {
    color: #888 !important;
}

.HomeFirstBlock__ButtonInput {
    display: flex;
    width: 450px;
}

.HomeFirstBlock__Button {
    position: absolute;
    height: 46px;
    right: 0;
    text-align: center;
}

.HomeFirstBlock__FreeItem {
    display: flex;
    align-items: center;
}

.HomeFirstBlock__FreeContainer {
    margin: 16px 0 16px 0;
    gap: 18px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.HomeFirstBlock__FreeDoneIcon {
    color: #52c41a;
    font-size: 24px;
    margin-right: 8px;
}

.HomeFirstBlock__FreeDesc {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #555;
}